<app-mostrar-imangen [imagen]="imagen"></app-mostrar-imangen>
<!--[variable del mostrar componetente]   y imagen1 es de app.components     -->
<app-mostrar-imangen [imagen]="imagen1"></app-mostrar-imangen>
<app-mostrar-imangen [imagen]="imagen2"></app-mostrar-imangen>
<app-mostrar-imangen [imagen]="imagen3"> </app-mostrar-imangen>


<section>
  <fieldset>
    <label for="">Nombre de la imagen</label>
    <input type="text" name="nombre" [value]="nuevoHistorial.nombre" ç
    (input)="cambiarNombre($event)">
    <p>{{nuevoHistorial.nombre}}</p>
  </fieldset>

  <fieldset>
    <label for="">Detalle de la imagen</label>
    <textarea name="detalle"
              [value]="nuevoHistorial.detalle"
              (input)="cambiarDetalle($event)"
              cols="30"
              rows="10">
    </textarea>
    <p>{{nuevoHistorial.detalle}}</p>
  </fieldset>

  <fieldset>
    <label for="">URL de la imagen</label>
    <input type="url" name="imagen" [value]="nuevoHistorial.imagen"
    (input)="cambiarImagen($event)">
    {{nuevoHistorial.imagen}}
  </fieldset>
  <fieldset>
    <button type="button" role="button" (click)="guardarHistorial()"
    >Enviar</button>
  </fieldset>


  <app-mostrar-imangen [imagen]="nuevoHistorial.imagen"> </app-mostrar-imangen>

</section>

<section>
  <article *ngFor="let item of elementoGuardado">
    <img [src]="item.imagen" height="150" width="150">

    <h2 *ngIf="item.nombre; then aquiIf; else aquiElse"></h2>
    <ng-template #aquiIf>
      <h2>{{item.nombre}}</h2>
    </ng-template>
    <ng-template #aquiElse>
      <h2>Sin Nombre</h2>
    </ng-template>
    <p *ngIf="item.detalle; then ifDetalle; else elseDetalle"></p>
    <ng-template #ifDetalle>
      <p>{{ item.detalle }}</p>
    </ng-template>
    <ng-template #elseDetalle>
      <p>{{Sin detalle}}</p>

    </ng-template>

  </article>
</section>
{{elementoGuardado.length}}
